header{
    height: 70px;
    width: 100%;
    background-color: blue;
    color:aliceblue;
    padding: 20px;
    font-family: "Helvetica";
    font-weight: 600;
    font-size: 25px;
    
}

header h3 {
    cursor: pointer;
    display: inline;
    //background-color: yellow;
}